<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ev Map</title>
</head>
<body>
    <div>
        <h1>Logan's Ev Map</h1>
        <h3>Welcome to my ev map!</h3>
        <h4>First, here's some information on mobile charging.<br>
            If you would like to see your availability to schedule an appointment go to your calendar at https://calendar.google.com/ <br>
            <em>charging is not available in Windsor yet.</em> <br>
            Here's an article on mobile charging in Quebec: https://electricautonomy.ca/2023/03/26/cafu-mobile-ev-charger-world-premier-quebec/</h4>
            <img src="different-connector-types.png" alt="Four different types of ev chargers.">
    </div>
    <script>
        type="text/javascript"
        src="{{ url_for('static', filename='index.js')}}"
    </script>
</body>
</html>